@mixin backImage($image, $height: 100vh, $position: center center) {
    background: 
        linear-gradient(
            to bottom,
            #00000000,
            #00000099
        ),
        url($image);
    background-repeat: no-repeat;
    background-position: $position;
    background-size: cover;
    height: $height;
}

@mixin clearfix {
    &::before, &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}